:root{
  --text: #8d8d8d;
  --white: #ffffff;
  --fondo: rgb(207, 207, 207);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    display: block;
    margin: 0;
    background-color: var(--fondo);
}

header{
  background-color: var(--white);
  position: fixed;
  height: 15vh;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 400px;
  height: 25px;
}

.input {
  box-sizing: border-box;
  color: var(--text);
  padding: 5px 5px 5px 30px;
  width: 100%;
  border: solid var(--text) 1px;
  border-radius: 5px;
  
}

.input-icon {
  color: var(--text);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.firsthead{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.logo{
  width: 40px;
  margin: 10px;
}

.button{
  padding: 10px;
  font-size: 16px;
  color: var(--text);
  font-weight: 400;
}

.flechitas{
  width: 12px;
}

nav{
  text-align: center;
  padding-top: 10px;
}

a{
  padding: 5px;
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
}

a:hover{
  background-color: var(--fondo);
  color: black;
}

.middle{
  margin-left: 150px;
  margin-right: 150px;
}

hr {border: 0; border-top: 1px solid #999; border-bottom: 1px solid #333; height:0;}

.container{
  padding-top: 15vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr) 50px repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.welcome{
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/10;
  grid-row: 1;
  margin: 50px;
}

.negrita{
  font-weight: bold;
  padding: 10px;
}

.texto{
  font-weight: 300;
  color: var(--text);
  margin: 10px;
}

.input2{
  box-sizing: border-box;
  color: var(--text);
  padding: 5px 5px 5px 5px;
  width: 80%;
  border: solid var(--text) 1px;
  border-radius: 5px;
  margin: 10px;
}

.redButton{
  background-color: rgb(179, 3, 3);
  color: var(--white);
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
}

.close{
  width: 15px;
  margin: 10px
}